################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Liberia_E2E/Liberia_E2E/obj
/Liberia_E2E/.vs/Liberia_E2E/v16/.suo
/Liberia_E2E/Liberia_E2E/bin/Debug/netcoreapp3.1
/Liberia_E2E/.vs/Liberia_E2E/v16/TestStore/0
